altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
et-xmlfile
fonttools
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
markdown-it-py
MarkupSafe
matplotlib
mdurl
networkx
nltk
numpy
openpyxl
packaging
pandas
pillow
pip
plotly
protobuf
pyarrow
pydeck
Pygments
pyparsing
python-dateutil
pytz
referencing
regex
requests
rich
rpds-py
Sastrawi
setuptools
six
smmap
streamlit==1.33.0
tenacity
textblob
toml
toolz
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog
wheel
wordcloud
